
<table style="font-family: Arial, sans-serif; font-size: 14px;">
  <tr>
    <td style="padding-right: 10px;">
      <img src="https://stickitin.co.uk/static/images/logoCircle.png" alt="Stick It In Logo" width="60" />
    </td>
    <td>
      <strong style="font-size: 16px;">Stick It In FC ⚽</strong><br>
      <a href="mailto:info@stickitin.co.uk">info@stickitin.co.uk</a><br>
      <a href="https://www.stickitin.co.uk" target="_blank">www.stickitin.co.uk</a><br><br>
      <em>🏆 Predict. Play. Win.<br>
      💥 Football predictions, action cards, and weekly banter.</em><br><br>
      <a href="https://www.facebook.com/stickitinfootball" target="_blank">📘 Facebook</a>
    </td>
  </tr>
</table>
